// css for map

.map-wrap {
    text-align: center;
}

.map-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5em 0 2em 0;
}

.map-text {
    padding-bottom: 3em;
    padding: 0 0 3em 0;
}