// css for set menu page


// css for posted menu items

.food-profile {
  display: inline-block;
//   margin: 1em 1em 1em 1em;
}

// hover function
.food-profile:hover {
  background: rgba(200, 200, 200, 0.8);
}

.food-profile h2 {
    margin-top: 1em;
    font-size: 1.5em;
    padding-top: -10px;
}

// container houseing img
.imgcontainer {
  display: inline-block;
  width: 15em;
  height: 9em;
  margin: auto;
  margin-top: 1em;
}

// image itself
.food-profile img{
  display: inline-block;
  width: 15em;
  height: 9em;
  margin: auto;
}
